* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
.gallery img {
  width: 100%;
}
.gallery {
  display: grid;
  /* repeat(갯수, 크기) */
  /* grid-template-columns: repeat(auto-fit, 200px); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* grid-row-gap: 20px; */
}
