.diagram {
  display: inline-block;
  width: 5em;
  height: 3em;
}
.left {
  float: left;
  margin-right: 0.25em;
}
.right {
  float: right;
  margin-left: 0.25em;
}
.p {
  margin: 1em auto;
  max-width: 500px;
  font-size: xx-large;
}
